

.design{

  color: white; margin-right: 15px; 
}


video{

  width: 40%;padding-left:6%
}
.column {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */


article {
  margin-top: 15px;
  width: 50%;
  background-color: #f1f1f1;
  height: 110px; 
}


.map{
    
      margin-left: 33%;
      width:600px;
      height:450px;
      border:0; 
      
      
    }

footer {
 margin-top: 5px;
  background-color: #777;
  padding: 1px;
  text-align: center;
  color: white;
}
.calendar {
  width: 300px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  padding-left: 40%;
}
.card-img-top{
  transform: scale(1);
  transform: transform 0.5s ease;

}
.card-img-top:hover{
  transform: scale(1.4);

}

.employee_info{
  background-color: aqua;
}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  
  clear: both;
}
h2{
	margin: 0;
	font-size: 45px;
	font-family: 'Caveat Brush', cursive;
	font-weight: 400;
}